data
outputs/models_trained
outputs/results
outputs
venv
.idea
*.csv
.DS_Store
__pycache__
outputs/logs
.ipynb_checkpoints
outputs/stage1_feasibility
all_python_files
.env
*/.env
.github
mcp/.gemini/settings.json